---
import PostCard from "@components/PostCard.astro";
import NavLayout from "@layouts/NavLayout.astro";
import type { Post } from "../../utils/types";
const allPosts = await Astro.glob<Post>("./*.mdx");
---

<NavLayout title="Posts">
  <h1>
    <span class="primary">For</span> Post <span class="primary">Of</span> Posts
  </h1>
  <div class="card-group">
    {
      allPosts
        .sort(
          (a, b) =>
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime()
        )
        .map((post) => <PostCard post={post} />)
    }
  </div>
</NavLayout>

<style>
  h1 {
    text-align: center;
  }
</style>
