---
import NavLayout from "../layouts/NavLayout.astro";
import Tag from "../components/Tag.astro";
import ProjectCard from "../components/ProjectCard.astro";
import projects from "../store/projects";
import type { Post, Project } from "../utils/types";
import PostCard from "../components/PostCard.astro";
const postes = await Astro.glob<Post>("./posts/*.mdx");

export const skills = [
  "astro",
  "java",
  "javascript",
  "nuxt",
  "primevue",
  "typescript",
  "vite",
  "vue"
];
const latestProject = projects.reduce(
  (a, b) => (new Date(a.date) < new Date(b.date) ? b : a),
  projects[0]
);
const latestPost = postes.reduce(
  (a, b) =>
    new Date(a.frontmatter.pubDate) < new Date(b.frontmatter.pubDate) ? b : a,
  postes[0]
);
---

<NavLayout title="Brett Ormsby">
  <hgroup>
    <h1>Hi, I am <span class="primary">Brett Ormsby</span></h1>
    <em> A student and programming hobbyist</em>
  </hgroup>
  <h2>Self.<span class="primary">about</span></h2>
  <article>
    <div class="primary">"""</div>
    I am a current student and programming hobbyist from Ontario, Canada. I enjoy
    solving problems and creating fun and useful websites. You also might find me
    reading my latest book or playing card and board games.
    <div class="primary">"""</div>
  </article>
  <h2>Self.<span class="primary">skills</span></h2>
  <article>
    <div class="primary">[</div>
    <div class="tag-group start">
      <div style="width: var(--pico-spacing)"></div>
      {skills.map((skill) => <Tag name={skill} />)}
    </div>
    <div class="primary">]</div>
  </article>

  <div class="side-by-side">
    <div>
      <h2>
        Self<wbr />.<span class="primary">getLatestProject</span><wbr />()
      </h2>
      <ProjectCard project={latestProject} />
    </div>
    <div>
      <h2>Self<wbr />.<span class="primary">getLatestPost</span><wbr />()</h2>
      <PostCard post={latestPost} />
    </div>
  </div>
</NavLayout>

<style>
  hgroup > * {
    display: block;
    text-align: center;
  }
  article {
    --pico-block-spacing-vertical: var(--pico-block-spacing-horizontal);
  }
  .side-by-side {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: var(--pico-block-spacing-vertical);
    flex-wrap: wrap;
  }
  .tag-group.start {
    justify-content: flex-start;
  }
</style>
