---
import ProjectCard from "@components/ProjectCard.astro";
import NavLayout from "@layouts/NavLayout.astro";
import projects from "../store/projects";
---

<NavLayout title="Projects">
  <h1>
    <span class="primary">For</span> Project <span class="primary">Of</span> Projects
  </h1>
  <div class="card-group">
    {
      projects
        .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
        .map((project) => <ProjectCard project={project} />)
    }
  </div>
</NavLayout>

<style>
  h1 {
    text-align: center;
  }
</style>
