<div class="footer">
  <div class="nav-container">
    <aside>
      <nav>
        <ul>
          <li><a href="/Portfolio/">Home</a></li>
          <li><a href="/Portfolio/projects">Projects</a></li>
          <li><a href="/Portfolio/posts">Posts</a></li>
        </ul>
      </nav>
    </aside>

    <aside>
      <nav>
        <ul>
          <li>
            <a href="https://github.com/BrettOrmsby/Portfolio/">Source</a>
          </li>
          <li>
            <a href="/Portfolio/posts/rss.xml">Rss Feed</a>
          </li>
          <li><a href="mailto:brettwormsby@outlook.com">Contact Me</a></li>
        </ul>
      </nav>
    </aside>
  </div>
  <small>&copy; Brett Ormsby 2023-{new Date().getFullYear()}</small>
</div>

<style>
  .footer {
    padding: var(--pico-spacing);
    background-color: var(--pico-card-background-color);
    border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--pico-block-spacing-vertical);
  }
  small {
    display: block;
    color: var(--pico-muted-color);
    margin: 0 auto;
    text-align: center;
  }
</style>
