<nav>
  <ul>
    <li><a href="/Portfolio/">Brett Ormsby</a></li>
  </ul>
  <ul>
    <li><a href="/Portfolio/projects">Projects</a></li>
    <li><a href="/Portfolio/posts">Posts</a></li>
  </ul>
</nav>

<style>
  nav {
    padding: 0 var(--pico-spacing);
    background-color: var(--pico-card-background-color);
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
  }
</style>
