---
import BaseLayout from "./BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import FooterNav from "../components/FooterNav.astro";
export interface Props {
  title: string;
  description?: string,
  imgPath?: string
}
const { title, imgPath, description } = Astro.props;
---

<BaseLayout title={title} imgPath={imgPath} description={description}>
  <header><NavBar /></header>
    <main class="container">
      <slot />
    </main>
    <footer><FooterNav /></footer>
  </BaseLayout>

<style is:global>
  header,
  footer {
    padding: 0 !important;
  }
</style>